* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  height: 200vh;
  position: relative;
}
.hero-section h2 {
  font-size: 92px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.025em;
  color: #ffffff;
}
.hero-section .top-paragraph {
  color: #5f5f5f;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter: -2, 5%;
}
.hero-section .bottom-paragraph {
  color: #5f5f5f;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter: -2, 5%;
  margin-bottom: 30px;
}

.text-box {
  width: 40%;
  position: absolute;
  left: 60px;
  top: 250px;
}

.serach-bar {
  background-color: #161616;
  border-radius: 100px;
  width: 80%;
  padding: 8px 8px 8px 24px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.serach-bar input {
  background-color: #161616;
  border: none;
  width: 65%;
}
.serach-bar button {
  background-color: #ffffff;
  padding: 8px 32px;
  border-radius: 33px;
  height: 100%;
  border: none;
}

.hero-image {
  position: absolute;
  right: 0px;
}

.hero-scroll {
  position: absolute;
  bottom: 80px;
  left: 60px;
}
.hero-scroll span {
  margin-left: 40px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.hero-extras {
  position: absolute;
  bottom: 80px;
  right: 0px;
}
.hero-extras img {
  margin: 20px;
}

header {
  padding: 20px;
  color: #ffffff;
}
header nav {
  width: 50%;
}
header nav li {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.025em;
  text-align: center;
}
header nav a {
  text-decoration: none;
  color: #ffffff;
}
header h4,
header p {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
header p {
  color: #5f5f5f;
}

.sign-in {
  width: 25%;
  padding: 10px;
  align-items: center;
}

.sign-in img {
  height: 32px;
}

.profile-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-right: 20px;
}

.image-box {
  margin-right: 20px;
  height: 32px;
}

.logo {
  display: flex;
  align-items: center;
}

.collections {
  position: relative;
  height: 80vh;
}

.collections-galery {
  position: absolute;
  left: -18%;
}

.collections-galery img {
  margin: 20px;
}

.galery-arrows {
  position: absolute;
  bottom: 20px;
  right: -125px;
}

.product-img {
  position: relative;
}

.heart {
  position: absolute;
  top: 20px;
  right: 20px;
}

.heart-bg {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.new-in-box {
  position: absolute;
  left: 0;
  bottom: 30px;
  background: #423496;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.200000003px;
  text-transform: uppercase;
  color: #ffffff;
}

.style-section {
  height: 120vh;
  position: relative;
}
.style-section h2 {
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
}
.style-section .header-paragraph {
  color: #5f5f5f;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  letter: -2, 5%;
  line-height: 40px;
  text-align: center;
}
.style-section .other-paragraph {
  color: #5f5f5f;
  font-weight: 700;
  font-size: 18;
  line-height: 36px;
  letter: -2, 5%;
  line-height: 24px;
}

.paragraph-box {
  width: 65%;
  margin-bottom: 150px;
}

.style-more-btn {
  background: #1b1b1b;
  padding: 8px 48px;
  border-radius: 33px;
  color: #ffffff;
  border: none;
  position: absolute;
  right: 40px;
  top: 200px;
}

.style-section .container h3,
.style-section .container p {
  color: #ffffff;
  letter-spacing: 0.200000003px;
  font-weight: 700;
}
.style-section .container h3 {
  font-size: 40px;
  line-height: 40px;
}
.style-section .container p {
  font-size: 24px;
  line-height: 20px;
}
.style-section .container span {
  color: #5f5f5f;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.200000003px;
  text-align: left;
  text-decoration: line-through;
}

.autumn-offers {
  position: relative;
  height: 75vh;
  background: linear-gradient(251deg, rgb(167, 59, 39), rgba(98, 129, 41, 0.512744) 59.21%, rgba(25, 202, 43, 0) 76.17%);
  background-blend-mode: multiply;
  margin-bottom: 10vh;
}
.autumn-offers h2,
.autumn-offers p {
  font-weight: 700;
  color: #ffffff;
}
.autumn-offers h2 {
  font-size: 170px;
  line-height: 180px;
  text-align: center;
}
.autumn-offers p {
  font-size: 36px;
  line-height: 40px;
}

.autumn-text {
  position: absolute;
  left: 0;
  top: 30vh;
}

.autumn-image {
  position: absolute;
  right: -200px;
  bottom: 10px;
}

.heels-section {
  height: 80vh;
  justify-content: space-between;
  align-items: center;
}
.heels-section .heels-text {
  margin-right: 60px;
}
.heels-section .heels-text h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}
.heels-section .top-paragraph {
  color: #5f5f5f;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  letter: -2, 5%;
  margin-bottom: 30px;
}
.heels-section .top-paragraph img {
  width: 30%;
}
.heels-section .bottom-paragraph {
  color: #5f5f5f;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter: -2, 5%;
  margin-bottom: 30px;
}

.btn-collection {
  border: none;
  background-color: #ffffff;
  border-radius: 48px;
  width: 200px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}

.heels-background {
  background: rgb(123, 129, 41);
  background: -moz-radial-gradient(circle, rgba(123, 129, 41, 0.51) 31%, rgba(202, 124, 25, 0) 57%);
  background: -webkit-radial-gradient(circle, rgba(123, 129, 41, 0.51) 31%, rgba(202, 124, 25, 0) 57%);
  background: radial-gradient(circle, rgba(123, 129, 41, 0.51) 31%, rgba(202, 124, 25, 0) 57%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b8129",endColorstr="#ca7c19",GradientType=1);
}

footer {
  height: 55vh;
  padding: 40px;
}
footer h3,
footer li {
  font-weight: 700;
  text-align: center;
}
footer h3 {
  font-size: 30px;
  color: #ffffff;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style-type: none;
  text-transform: capitalize;
  color: #5f5f5f;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}

hr {
  border: 1px solid #5f5f5f;
  margin-bottom: 40px;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background: #000000;
  font-family: Ubuntu;
}

.test {
  background-color: blue;
  min-height: 400px;
}

/*# sourceMappingURL=main.css.map */
