.collections {
  position: relative;
  height: 80vh;
}

.collections-galery {
  position: absolute;
  left: -18%;
}

.collections-galery img {
  margin: 20px;
}

.galery-arrows {
  position: absolute;
  bottom: 20px;
  right: -125px;
}
